body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
.box{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
}
footer{
    
    display:block;
    text-align: center;
   
}
a{text-decoration: underline;
    color: blue;
margin: 0 10px;}
img{
    justify-content: center;
    width:700px;
    border-radius: 2%;
}